/*
REFERENCE: REF-DOC05
TEMPLATE CODE: TEMPLATE-SCSS
VERSION: v0.0.0.0
0. GUIDELINES-----------------------------------------------------
 this guideline are defined and specified in the documentation: REF-D05
 for more information & updates please visit the documentation at GitHub repository
 https://github.com/mjtalbatana/ref-template
 0.1 avoid applying CSS-rules for static styling:
   - any transform rules, functions, or methods
     - workaround: transformations are processed by JavaScript
   - position, top, bottom, left, right rules
 0.2 minimize nesting, id-tags should be placed at first nest unless contained by an important parent container
 0.3 prioritize general scopes
 0.4 rules with different responsive rules must be contained in one css-rule nest
 0.5 rules with on different pages/frames should be contained within a parent container for easy code readability

*/
/*
==== THIS CODE BLOCK IS SCRIPTED, PLEASE MODIFY ACCORDING TO SPECIFICATIONS
OUTLINE:
  1 Initial Configurations
    1.1 Variables and assignment
    1.2 Font import
    1.3 SASS presets and mixins
    1.4 Universal defaults
    1.5 Mass assignments

  2 Display Configurations
    2.1 Display assignment
    2.2 Inside
      2.1.1 Grid
      2.1.2 Flex
      2.1.3 Table
    2.3 Outside
      2.3.1 Block
      2.3.1 Inline

  3 Layering and Overflow
    3.1 Layer
    3.2 Overflow
 CHECKSUM: --------------------------------------------------------
*/

/*
suggested shorthand CSS rules (in order):

background
  background-clip
  background-color
  background-image
  background-origin
  background-position
  background-repeat
  background-size
  background-attachment

font
  font-style
  font-weight
  font-size
  line-height
  font-family

grid
  **TBA**

text-decoration
  text-decoration-line
  text-decoration-color
  text-decoration-style

*/


//===================================================================
// 1. VARIABLES & ASSIGNMENT-----------------------------------------

$color-black: black;

$bgcolor-white: white;

$font-helvetica: 'Helvetica';

//===================================================================
//  1.1 FONT IMPORT--------------------------------------------------

@font-face{

}

//===================================================================
//  1.2 PRESETS------------------------------------------------------

@mixin landscape(){
  @media only screen and (orientation: landscape){
    @content;
  }
}

@mixin portrait(){
  @media only screen and (orientation: portrait){
    @content;
  }
}

@mixin gridarea($row1, $row2, $col1, $col2){
  grid-area: $row1 #{'/'} $col1 #{'/'} $row2 #{'/'} $col2;
}

@mixin flex(
    $flex-flow:row nowrap,
    $justify-content:center,
    $justify-items:center,
    $align-content:space-between,
    $align-items:center
  ){
    flex-flow: $flex-flow;              //  row/column/row-reverse/columen-reverse  wrap/nowrap/wrap-reverse
    justify-content: $justify-content;  //  start  center  space-between  space-around  space-evenly
    justify-items: $justify-items;      //  stretch  center  start  end
    align-content: $align-content;      //  start  center  space-between  space-around  space-evenly
    align-items: $align-items;          //  stretch  center  start  end
}

@mixin dimensions(
    $width:100%,
    $height:auto,
    $padding:0,
    $borderwidth:0,
    $margin:0 auto
  ){
    width: $width;
    height: $height;
    padding: $padding;
    border-width: $border-width;
    margin: $margin;
}

@mixin backgroundimage(
    $background-size:cover,
    $background-clip:padding-box,
    $background-origin:padding-box,
    $background-attachment:inherit,
    $background-repeat:ro-repeat,
    $background-position:center,
    $background-color:transparent
  ){
    background-size: $background-size;              //  contain  cover  [%]  [absolute]
    background-clip: $background-clip;              //  border-box  padding-box  content-box  text
    background-origin: $background-origin;          //  border-box  padding-box  content-box
    background-attachment: $background-attachment;  //  scroll  fixed  local  local,scroll  scroll,local
    background-repeat: $background-repeat;          //  repeat  repeat-x  repeat-y  space  round  no-repeat
    background-position: $background-position;      //  top  left  center  [absolute-X/Y]  [relative-X/Y]
    background-color: $background-color;            //
}

@mixin overflow(
    $overflow-x:hidden,
    $overflow-y:hidden
  ){
    overflow-x: $overflow-x;   //  visible  hidden  scroll  auto
    overflow-y: $overflow-y;   //  visible  hidden  scroll  auto
}

@mixin textcontainer(
    $text-align:justify,
    $line-height:normal,
    $text-indent:inherit,
    $letter-spacing:normal,
    $word-spacing:normal,
    $white-space:normal,
    $hyphens:auto,
    $word-break:break-all,
    $overflow-wrap:break-word
  ){
    text-align: $text-align;       //  left  right  center  justify  justify-all  start  end  match-parent
    line-height: $line-height;      //  normal  [decimal]  [%]  [units]
    text-indent: $text-indent;      //  [%] [units]  each-line  hanging
    letter-spacing: $letter-spacing;   //  normal [units]
    word-spacing: $word-spacing;     //  normal  [%]  [units]  [-units]
    white-space: $white-space;      //  normal  nowrap  pre  pre-wrap  pre-line
    hyphens: $hyphens;           //  none  manual  auto
    word-break: $word-break;       //  normal  break-all  keep-all  break-word
    overflow-wrap: $overflow-wrap;     // normal break-word
}

@mixin textspan(
    $z:none
  ){
    text-transform: $z;     //  capitalize  uppercase  lowercase  none  full-width
}

@mixin position(
    $z-index:0,
    $position:static,
    $top:auto,
    $right:auto,
    $bottom:auto,
    $left:auto
  ){
    z-index: $z-index;    //  0  [integer]  auto
    position: $position;   //  static  relative  absolute  sticky  fixed
    top: $top;        //  auto  0  [unit]  [-unit]
    right: $right;      //  auto  0  [unit]  [-unit]
    bottom: $bottom;     //  auto  0  [unit]  [-unit]
    left: $left;       //  auto  0  [unit]  [-unit]
}

@mixin floatclear(
    $float:none,
    $clear:none
  ){
    float: $float;  //  none  left  right  inline-start  inline-end
    clear: $clear;  //  none  left  right  both  inline-start  inline-end
}
//===================================================================
//  1.3 UNIVERSAL DEFAULTS-------------------------------------------
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;        // ensures all elements will occupy 100% width
  height: auto;
  font-family: $font-helvetica;
  color: $color-black;
  text-align: center;
  user-select: none;  // prevents highlighting of elements

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  &::-webkit-scrollbar{
    display: none;
  }

  body{
    background-color: $bgcolor-white;
  }
}

//===================================================================
//===================================================================
//  1.4 MASS ASSIGNMENTS---------------------------------------------
%display-table{
  display: table;
}

%display-grid{
  display: grid;
}

%display-flex{
  display: flex;
}

//===================================================================
//===================================================================
// 2. VIEWPORT SENSITIVE RULES---------------------------------------
//  **RESTRICTIONS: dimensional units: vh, vw
//  2.1 GRID----------------------------------------------------------
//

//  2.2 FLEX---------------------------------------------------------


//  2.3 TABLE--------------------------------------------------------


//  2.4 CSS-BOX-MODEL------------------------------------------------
//    **MARGIN, BORDER, PADDING, SIZE--------------------------------

//===================================================================
//===================================================================
// 3. LAYERING & OVERFLOW--------------------------------------------
//  3.1 LAYERS-------------------------------------------------------
%layer1{
  z-index: 1;
}
%layer1_{
  z-index: -1;
}

//  3.2 OVERFLOW-----------------------------------------------------

%overflowhidden{
  overflow: hidden;
}
%overflowscroll{
  overflow: scroll;
}
%overflowvisible{
  overflow: visible;
}

//===================================================================
// 4 COLORS-------------------------------------------------------
//   4.1 BACKGROUND
//   4.2 BORDER
//   4.3 FONT

//===================================================================
// 5. FONTS----------------------------------------
//
// 5.1 FONT ASSIGNMENT FOR NON-DEFAULTS-----------------------------
.emoji{
  font-family: 'Noto Emoji';
}

// 5.2 FONT-SIZE----------------------------------------------------
// **RESTRICTIONS: dimensional units: vh, vw

h1{
  font-size: 10vh;
}
h2,
h3,
h4{
  font-size: 7vh;
}


// 5.3 FONT-EFFECTS-------------------------------------------------

//===================================================================
// 6 SEMANTIC TAGS---------------------------------------------------

//  6.1 HEADER PANEL-------------------------------------------------

header{

  hgroup{
    h1{

    }
    h2{

    }
  }
}


//  4.7 TEXT-BLOCK---------------------------------------------------

//  4.8 TEXT-INLINE--------------------------------------------------


//===================================================================
// 5. OBJECTS--------------------------------------------------------
//  5.1 CONTEXTUAL IMAGES--------------------------------------------

figure{
  width: 0; // adjust image-dimension here
  height: 0; // adjust image-dimension here

  img{
    width: auto;
    height: 100%;
  }
  figcaption{
    display: hidden;
  }
}

//  5.2 BACKGROUND IMAGES--------------------------------------------

.bgimg{

}

//  5.3 LOGO-TYPE IMAGE ASSETS---------------------------------------
.logoimg{

}

//  5.4 EMOJI--------------------------------------------------------

.emoji{

}


//  5.5 SHAPES-------------------------------------------------------
.shape{

}

//  5.6 SVG



//  5.7 MEDIA PLAYER



//===================================================================
// 6. CSS ANIMATION -------------------------------------------------

//===================================================================
// 7. SPECIAL RULES--------------------------------------------------

//===================================================================